.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 30px;
  .logo {
    user-select: none;
    cursor: pointer;
    display: flex;
    gap: 8px;
    align-items: center;
    height: 42px;
    svg {
      width: em(24px);
      height: em(24px);
    }
    h1 {
      font-size: em(24px);
      font-weight: 600;
    }
  }

  .user {
    cursor: pointer;
    user-select: none;
    width: em(24px);
    height: em(24px);
  }
}
