.main-hero {
  padding-block: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  svg {
    height: 12vh;
    width: 12vh;
  }
  p {
    font-size: rem(14px);
    color: $main-dark-50;
    text-transform: capitalize;
  }
}
