.auth-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
  .title {
    margin-bottom: 16px;
  }
  label {
    font-size: rem(12px);
  }
  input {
    width: 100%;
    padding-inline: 16px;
    margin-bottom: 12px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  span {
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: rem(12px);
    letter-spacing: 1px;
    text-transform: uppercase;
    > a {
      transition: color 0.1s ease-out;

      &:hover {
        color: $main-light;
      }
    }
    button {
      letter-spacing: 1px;
      text-transform: uppercase;
      padding: 10px 16px;
      border: none;
      box-shadow: $shadow;
      background-color: $main-dark;
      color: white;
      transition: background-color 0.1s ease-out;

      &:hover {
        background-color: $main-light;
      }
    }
  }
}
