// Colors
$main: #3763ff;
$main-light: #4ca6fa;
$main-dark: #150577;
$main-dark-50: rgba($main-dark, 0.5);
$main-dark-20: rgba($main-dark, 0.2);
$light: #fafafa;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

$sitePadding: 36px;
